myvideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;

  }

  html{
    height: 100%;
    width: 100%;
  }
  body{
    height: 100%;
    width: 100%;
    

  }