body{
/* background-image: url('https://monicabalut.files.wordpress.com/2010/02/gradient-mask2.png'); */
/* background-image: url('../../img/bg2.png'); */
/* background-repeat: no-repeat;
background-size:unset; */
}



.logo {
    width: 4%;
    margin-left: 1%;
    margin-top: 0.5%;
    float: left;
    cursor: pointer;
}

.signinBtn{
    margin-right: 3%;
}

.loginBtn{
    margin-right: 1%;
}

.emptyDiv{
    background-color: rgb(182 182 182);
    height: 0.3px;
}

.zoom {
    transition: transform .5s;
}

.zoom:hover {
    transform: scale(1.1); 
}

.bgText {
    margin-top: 18%;
    margin-left: -15%;
}

h1, h4{
    font-family: serif;
}

.dash-emptyDiv{
    margin-bottom: 30%;
}



/* -------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Montserrat');


.title {
	font-family: "Montserrat";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	letter-spacing: 1px;
}

.h22 {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	line-height: .75;
	margin: 10px 0;
}

.white-mode {
	text-decoration: none;
	padding: 7px 10px;
	background-color: #122;
	border-radius: 3px;
	color: #FFF;
	transition: .35s ease-in-out;
	position: absolute;
	left: 15px;
	bottom: 15px;
	font-family: "Montserrat";
}

.white-mode:hover {
	background-color: #FFF;
	color: #122;
}