body{
/* background-image: url('https://monicabalut.files.wordpress.com/2010/02/gradient-mask2.png'); */
/* background-image: url('../../img/bg2.png'); */
background-repeat: no-repeat;
background-size:unset;
}



.logo {
    width: 4%;
    margin-left: 1%;
    margin-top: 0.5%;
    float: left;
    cursor: pointer;
}

.signinBtn{
    margin-right: 3%;
}

.loginBtn{
    margin-right: 1%;
}

.emptyDiv{
    background-color: rgb(182 182 182);
    height: 0.3px;
}

.zoom {
    transition: transform .5s;
}

.zoom:hover {
    transform: scale(1.1); 
}

.bgText {
    margin-top: 18%;
    margin-left: -15%;
}

h1, h4{
    font-family: serif;
}

.dash-emptyDiv{
    margin-bottom: 30%;
}