@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Audiowide&display=swap');

.features-container{
background-repeat: no-repeat;
background-size: cover;
}

.features {
text-align: center;
margin-top: 5%;

}

figcaption{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15.5px;
}


/* @keyframes repeat {

0% {color: lightblue; text-shadow: 5px 5px 30px lightblue;}
20% {color: #45aaf2; text-shadow: 5px 5px 30px  #45aaf2;}
40% {color: #2d98da; text-shadow: 5px 5px 30px  #2d98da;}
60% {color: #4b7bec; text-shadow: 5px 5px 30px  #2d98da;}
80% {color: #3867d6; text-shadow: 5px 5px 30px  #3867d6;}
100% {color: lightblue; text-shadow: 5px 5px 30px  lightblue;}
} */


.features2 {
    /* margin-left: auto; */
    /* background-color: black; */
    /* background-image: linear-gradient( 109.5deg,  #0F4C82 11.2%, #83B7CD 91.1% ); */
    text-align: center;
    background-color: #4181AD;
    border-radius: 5px;
    color: #fff;
    /* width: 80%; */
    /* margin-right: auto; */
    /* box-shadow: 0 5px 25px rgb(0 0 0 / 59%); */
}


/* ...................................... */

.demo-container {
display: flex;
justify-content: space-between;
width: 90%;
height: auto;
margin: 50px auto;
}
.demo-box {
width: 225px;
height: 225px;
display: inline-block;
border-radius: 12px;
margin: 20px;
}

.demo-box {
}

#glow-blue {
animation-name: glow-blue;
}
/* @keyframes glow-blue {
from {
    box-shadow: 0 0 2px #82d8f9, 0 0 10px #82d8f9, 0 0 20px #00a6fb, 0 0 30px #00a6fb;
}
to {
    box-shadow: 0 0 10px #82d8f9, 0 0 20px #5ec9fe, 0 0 30px #5ec9fe, 0 0 40px #5ec9fe;
}
} */

#glow-green {
animation-name: glow-green;
}
/* @keyframes glow-green {
from {
    box-shadow: 0 0 2px #82d8f9, 0 0 10px #82d8f9, 0 0 20px #00a6fb, 0 0 30px #00a6fb;
}
to {
    box-shadow: 0 0 10px #82d8f9, 0 0 20px #5ec9fe, 0 0 30px #5ec9fe, 0 0 40px #5ec9fe;
}
} */




#glow-red {
animation-name: glow-red;
}
@keyframes glow-red {
    from {
        box-shadow: 0 0 2px #82d8f9, 0 0 10px #82d8f9, 0 0 20px #00a6fb, 0 0 30px #00a6fb;
    }
    to {
        box-shadow: 0 0 10px #82d8f9, 0 0 20px #5ec9fe, 0 0 30px #5ec9fe, 0 0 40px #5ec9fe;
    }
    }

#glow-pink {
animation-name: glow-pink;
}
@keyframes glow-pink {
    from {
        box-shadow: 0 0 2px #82d8f9, 0 0 10px #82d8f9, 0 0 20px #00a6fb, 0 0 30px #00a6fb;
    }
    to {
        box-shadow: 0 0 10px #82d8f9, 0 0 20px #5ec9fe, 0 0 30px #5ec9fe, 0 0 40px #5ec9fe;
    }
    }

#glow-yellow {
animation-name: glow-yellow;
}
@keyframes glow-yellow {
    from {
        box-shadow: 0 0 2px #82d8f9, 0 0 10px #82d8f9, 0 0 20px #00a6fb, 0 0 30px #00a6fb;
    }
    to {
        box-shadow: 0 0 10px #82d8f9, 0 0 20px #5ec9fe, 0 0 30px #5ec9fe, 0 0 40px #5ec9fe;
    }
    }

.second{
    margin-left: 10%;
    margin-right: 10%;
    
}


/* .one:hover #glow-blue:hover{
    width: 150px;
    transition: 800ms;

} */
.onee{
   border-radius: 8px;
}

.empty{
    /* margin-top: 5%; */
    background-color: rgb(16, 13, 32);
    /* height: 0.1px; */
    
}