
body{
    background-color: white;
}
.home{
    color: white;
    margin-left: 550px;
}


.container4 {

    width: 15%;
    float: left;
    
    
}

.b1 {
width:150px;
margin-left:150;
margin-bottom: 20px;
display: block;


}

.main-con{
    margin-left: 4%;
    margin-right: 10%;

}

.info{

    width: 50%;
    border-radius: 6%;
    height: 100px;
    padding-top: 100px;
    padding: 50px;
    display: inline-block;
}

.container2{
    padding: 80px;
    display: block;
}
.l{
    font-size: 20px;
    display: inline-block;
    color: rgb(31, 28, 28);
    font-weight: 400;
    padding-left: 15px;
    width: 200px;
}
.f{
    margin: 500px;
}
.rows{
    margin: 10px;
    width:400px;
    outline: white;
}