/* body{
  background-image: url('https://monicabalut.files.wordpress.com/2010/02/gradient-mask2.png');
  background-repeat: no-repeat;
  background-color: slategray;
  background-size: cover; 
}
 */
